# Environmental variables and secrets (PREVENTS GITGUARDIAN LEAKS)
.env
.env.*
!.env.example
*.env

# Ignore all src directories except private
/odoo/auto
/odoo/custom/src/*/
!/odoo/custom/src/private/

# Doodba / Odoo local data & databases
/filestore/
/sessions/
/*.db
/*.sqlite3

# Ignore docker-compose.yml and overrides by default
/docker-compose.yml
/docker-compose.override.yml

# Compiled formats, cache, temporary files, git garbage
__pycache__/
*.py[cod]
*$py.class
*.mo
*.po~
*.egg-info/
.installed.cfg
*.egg
*.orig
*.rej
**.~

# Virtual Environments
.venv/
venv/
ENV/
env/

# User-specific or editor-specific development files and settings
.vscode/
!.vscode/*.jinja
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
/odoo/custom/src/private/.vscode/
/doodba.*.code-workspace
/src
.idea/
*.swp
*~

# Project-specific docker configurations
/.docker/

# Testing & Logs
/logs/
*.log
.coverage
.coverage.*
htmlcov/
.pytest_cache/
